ul{
    background-color: black;

}

body,html{

    height: 100%;

}

#main_body{

    background-image: url("../images/coffee_background.jpeg") ;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}